@import '../../styles/variables.scss';

.section {
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-top: 3rem;

    &__image-container-wrapper {
        margin: 0 auto 1.625rem auto;
        position: relative;
        height: 14.625rem;
        width: 34.3419rem;
    }

    &__text-container {
        color: $color--light--yellow;
        display: flex;
        justify-content: center;
    }

    &__text-container-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 46.375rem;
        font-size: $bodyFontSize;
        font-weight: $bodyFontWeight;
        font-feature-settings: 'liga' off, 'calt' off;
    }

    &__text-container-content-row {
        margin: 1rem 0;
        text-align: center;
    }

    &__text-container-content-row-title {
        font-weight: $h1FontWeight;
    }
}

@media only screen and (max-height: 670px) {
    .section {
    }
}