@import '../../styles/variables.scss';

.section {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 1rem;


    &__image-container {
        position: relative;
        height: 25rem;
        width: 100vw;
    }

    &__image-container-wrapper {
        height: 100%;
        width: 100%;
        // transform: scale(0.6);
    }

    &__text-container {
        font-family: "Space Mono", monospace;
        color: $color--light--yellow;
        display: flex;
        justify-content: center;
    }

    &__text-container-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        font-size: $bodyFontSize;
        font-weight: $bodyFontWeight;
    }

    &__text-container-content-row {
        margin: 1rem 0;
        text-align: center;
    }

    &__text-container-content-row-title {
        font-weight: $h1FontWeight;
    }
}