@import '../../styles/variables.scss';

.container {
    height: 40rem;
    .img_wrapper{
        height: 100%;
        width: 100%;
    }
    .text_container {
        font-family: "Space Mono", monospace;
        color: $color--light--yellow;
        height: 100%;
        width: 100%;
    }
}