@import '../../styles/variables.scss';

.container {
    display: flex;
    flex-direction: column;
    // height: 50rem;
    .image_container {
        position: relative;
        height: auto;
        width: 100vw;
        .img_wrapper{
            height: 100%;
            width: 100%;
        }
    }
    .text_container {
        font-family: "Space Mono", monospace;
        color: $color--light--yellow;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80%;
            .row {
                margin: 1rem 0;
                text-align: center;
            }
        }
    }
}