@import '../../styles/variables.scss';

.section {
    display: flex;
    flex-direction: column;
    height: fit-content;

    &__image-container {
        position: relative;
        height: 30rem;
        width: 100vw;
    }
    &__image-container-wrapper {
        height: 100%;
        width: 100%;
    }
    .text_container {
        font-family: "Space Mono", monospace;
        color: $color--light--yellow;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
            .row {
                margin: 1rem 0;
                text-align: center;
            }
        }
    }
}