@import '../../styles/variables.scss';

.container {
    display: flex;
    flex-direction: column;
    .img_wrapper{

    }
    .text_container {
        font-family: "Space Mono", monospace;
        color: $color--light--yellow;
    }
}