@import '../../styles/variables.scss';

.container {
    height: 100vh;
    .img_wrapper{
        width: 100px;
        height: 100px;
    }
    .text_container {
        height: 100px;
        font-family: "Space Mono", monospace;
        color: $color--light--yellow;
    }
}