@import '../../styles/variables.scss';

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 3rem 0;
    &__header {
        color: white;
        font-family: "Space Mono", monospace;
        font-weight: 700;
        font-size: $h1FontSize;
        margin: 1rem 0;
    }
    &__content {
        display: flex;
        flex-direction: column;
    }
    &__content-row{
        margin: 1rem 0;
        display: flex;
        gap: 1rem;
    }
}