@import '../../styles/variables.scss';

.section {
    // width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // padding: 1rem;
    // margin: 3rem 0;

    &__header {
        color: white;
        font-family: "Space Mono", monospace;
        font-weight: $h1FontWeight;
        font-size: $h3FontSize;
        margin: 1rem 0;
    }
    &__content {
        display: flex;
        flex-direction: column;
    }
    &__content-row{
        margin: 1rem 0;
        display: flex;
        gap: 1rem;
    }
}