@import '../../styles/variables.scss';

.container {
    .header {
        color: white;
        font-family: "Space Mono", monospace;
        font-weight: 700;
        font-size: $h1FontSize;
    }
}