@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
}

h1 {
  font-family: "Rockids Softed";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Rockids Softed";
  src: url('../public/fonts/Rockids\ Softed\ Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
