/*COLORS*/
$color--red: #E20A25;
$color--blue: #009CF3;
$color--yellow: #FFD400;
$color--green: #7EE100;
$color--pink: #F900A8;
$color--navyblue: #13142A;
$color--cyan: #77FFD7;
$color--purple: #832CC8;
$color--orange: #FF7500;   
$color--muted--red: #9A0719;
$color--muted--blue: #0072B2;
$color--muted--yellow: #D8B500;
$color--muted--green: #61AD00;
$color--muted--pink: #99096A;
$color--muted--navyblue: #002946;
$color--light--yellow: #FCF0B5;
$color--light--red: #F94641;

/*FONT SIZES*/
$h1FontSize: 4.209rem;
$h2FontSize: 3.157rem;
$h3FontSize: 2.369rem;
$h4FontSize: 1.777rem;
$h5FontSize: 1.333rem;
$bodyFontSize: 1rem;
$body2FontSize: 0.75rem;
$captionFontSize: 0.563rem;
$caption2FontSize: 0.422rem;

/* FONT WEIGHT */
$h1FontWeight: 900;
$h2FontWeight: 700;
$h3FontWeight: 600;
$h4FontWeight: 600;
$h5FontWeight: 500;
$bodyFontWeight: 400;
$body2FontWeight: 400;
$captionFontWeight: 400;
$caption2FontWeight: 400;