@import '../../styles/variables.scss';

// .card_ {
//     color: white;
//     background-color: rgba(0, 255, 255, 0.726);
//     padding: 2rem;
//     border-radius: 1rem;
//     width: 30rem;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;

//     &pink {
//         background-color: $color--pink;
//     }
//     &green {
//         background-color: $color--green;
//     }
//     &purple {
//         background-color: $color--purple;
//     }
//     &orange {
//         background-color: $color--orange;
//     }

//     .header {
//         display: flex;
//         font-family: "Space Mono", monospace;
//         font-weight: $h2FontWeight;
//         .left {
//             color: $color--light--yellow !important;
//         }
//         .right {
//             color: #70004B !important;
//         }
//     }
//     .topics{
//         font-family: "Rockids Softed";
//         font-weight: 400;
//         font-size: $h2FontSize;
//         margin: 1.5rem 0;
//     }
//     .get_tickets {
//         font-family: "Space Mono", monospace;
//         font-size: $bodyFontSize;
//     }
// }

.card {
    width: 30rem;
    padding: 1rem 2rem;
    border-radius: 1rem;

    &--uiux {
        background-color: $color--pink;
    }

    &--htmlsass {
        background-color: $color--green;
    }

    &--nextstorybook {
        background-color: $color--purple;
    }

    &--expressgithub {
        background-color: $color--orange;
    }

    &__header {
        display:flex;
    }

    &__header-date {
        color: $color--light--yellow;
    }

    &__header-day {
        &--uiux {
            color: #70004B;
        }
    }

    &__topic {
        display: flex;
        flex-direction: column;
    }

    &__footer {
        color: $color--light--yellow;
    }
}

