@import '../../styles/variables.scss';

.card {
    width: 25rem;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--uiux {
        background-color: $color--pink;
    }

    &--htmlsass {
        background-color: $color--green;
    }

    &--nextstorybook {
        background-color: $color--purple;
    }

    &--expressgithub {
        background-color: $color--orange;
    }

    &__header {
        display:flex;
        font-family: "Space Mono", monospace;
        font-weight: $h3FontWeight;
    }

    &__header-date {
        color: $color--light--yellow;
    }

    &__header-day {
        &--uiux {
            color: #70004B;
        }
        &--htmlsass {
            color:#2C5000;
        }
    
        &--nextstorybook {
            color: #3C145C;
        }
    
        &--expressgithub {
            color:#6a3001;
        }
    }

    &__topic {
        display: flex;
        flex-direction: column;
        font-family: "Rockids Softed";
        font-size: $h3FontSize;
        color: white;
        margin: 2rem 0;
    }
    
    &__topic-topiclist {
        display: flex;
        flex-direction: column;
    }

    &__footer {
        color: $color--light--yellow;
        font-family: "Space Mono", monospace;
        font-weight: $bodyFontWeight;
    }
}

