html {
  font-family: 'Space Mono', monospace, Arial, Helvetica, sans-serif;
}

body {
  background-color:#13142A;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-feature-settings: 'liga' off, 'calt' off;
}

@font-face {
  font-family: 'Rockids-Softed';
  src: url('/assets/fonts/Rockids-Softed.woff2') format('woff2'),
        url('/assets/fonts/Rockids-Softed.woff') format('woff'),
        url('/assets/fonts/Rockids-Softed.ttf');
  font-weight: normal;
  font-style: normal;
}

/* RESPONSIVENESS */

@media screen and (max-width: 325px) {
  html {
    font-size: calc(8px + 0.390625vw) !important;
  }
}

/* SMALL DEVICES */
@media screen and (max-width: 576px) {
  html {
    font-size: calc(12px + 0.390625vw);
  }
}
